<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All Posts</title>
  </head>
  <body>
    <h1>All Posts</h1>
    <button><a href="{% url 'create_blog' %}">Add New Post</a></button>
    <table border="1" cellspacing="0" cellpadding="8">
        <thead>
            <tr>
                <th>Title</th>
                <th>View Post</th>
                <th>Author</th>
                <th>Category</th>
                <th>Tags</th>
                <th>Status</th>
                <th>Views</th>
                <th>Read Time</th>
                <th>Created At</th>
                <th>Updated At</th>
                <th>Edit Post</th>
                <th>Delete Post</th>
            </tr>
        </thead>

        <tbody>
            {% for blog in blogs %}
            <tr>
                <td>{{ blog.title }}</td>
                <td><a href="{{ blog.slug }}">View</a></td>
                <td>{{ blog.author }}</td>
                <td>{{ blog.category }}</td>
                <td>
                    {% for tag in blog.tags.all %}
                        {{ tag.name }}{% if not forloop.last %}, {% endif %}
                    {% empty %}
                        No tags
                    {% endfor %}
                </td>
                <td>{{ blog.status }}</td>
                <td>{{ blog.views }}</td>
                <td>{{ blog.read_time }} min</td>
                <td>{{ blog.created_at|date:"M d, Y, h:i A" }}</td>
                <td>{{ blog.updated_at|date:"M d, Y, h:i A" }}</td>
                <td><a href="{% url 'update_blog' blog.id %}">Edit</a></td>
                <td><a href="{% url 'delete_blog' blog.id %}">Delete</a></td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="10">No blogs found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>
